body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container {
  padding: 16px;
  width: 500px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.chips-container > :not(:last-child) {
  margin-right: 8px;
  margin-bottom: 6px;
}

.icon {
  margin-right: 16px;
}